<header>
  <a href="/">
    <button type="button" class="go-back">
      <img src="arrow-left.svg" alt="Go back" />
    </button>
  </a>
  <h1>Subspace Music</h1>
  <a href="/">
    <button type="button" class="add-<%= category %>">
      <img src="plus.svg" alt="Add <%= category %>" />
    </button>
  </a>
</header>
