<header>
  <h1>Subspace Music</h1>
  <a href="/<%= category %>s/new">
    <button type="button" class="add-<%= category %>">
      <img src="/plus.svg" alt="Add <%= category %>" />
    </button>
  </a>
</header>
