<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Subspace Music</title>
  </head>
  <body>
    <div id="root">
      <%- include('partials/header', {category: "album"}) %>
      <main>
        <!-- make into component-->
        <div class="album">
          <div class="album-info">
            <div class="album-cover-wrapper">
              <img
                src="Elliott_smith_figure_8_cover.jpg"
                alt="Figure 8 Album Cover"
                class="album-cover"
              />
            </div>
            <p class="album-title">Figure 8</p>
            <ul class="artists">
              <a href="/">
                <li>Elliott Smith</li>
              </a>
            </ul>
            <div class="album-actions">
              <a href="/">
                <button type="button">View</button>
              </a>
              <a href="/">
                <button type="button">Modify</button>
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
