<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Subspace Music</title>
  </head>
  <body>
    <div id="root">
      <header>
        <h1>Subspace Music</h1>
        <a href="/">
          <button type="button" class="add-genre">
            <!-- change to "add album" on desktop?-->
            <img src="plus.svg" alt="Add genre" />
          </button>
        </a>
      </header>
      <main>
        <div class="genre">Rock</div>
      </main>
    </div>
  </body>
</html>
