<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Subspace Music</title>
  </head>
  <body>
    <div id="root">
      <header>
        <a href="/genres">
          <button type="button" class="go-back">
            <img src="/arrow-left.svg" alt="Go back" />
          </button>
        </a>
        <h1>Subspace Music</h1>
      </header>
      <main>
        <% if (locals.genre) { %>
        <h2><%= genre.name %></h2>
        <% } %>
      </main>
    </div>
  </body>
</html>
