<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Subspace Music</title>
  </head>
  <body>
    <div id="root">
      <%- include('partials/header', {category: "genre"}) %>
      <main>
        <div class="genre">
          <div class="genre-info">
            <p class="genre-name">Rock</p>
            <div class="genre-actions">
              <a href="/">
                <button type="button">View</button>
              </a>
              <a href="/">
                <button type="button">Modify</button>
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
