<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Home</title>
  </head>
  <body>
    <div id="root">
      <header>
        <h1>Subspace Music</h1>
        <a href="/">
          <button type="button" class="add-album">
            <!-- change to "add album" on desktop?-->
            <img src="plus.svg" alt="Add album" />
          </button>
        </a>
      </header>
      <!-- index page is supposed to have genre select (at least on mobile). this is temporary-->
      <main>
        <div class="album">
          <div class="album-info">
            <img
              src="Elliott_smith_figure_8_cover.jpg"
              alt="Figure 8 Album Cover"
              class="album-cover"
            />
            <p class="album-title">Figure 8</p>
            <ul class="artists">
              <a href="/">
                <!-- show "...and others" instead of making a list of artists-->
                <li>Elliott Smith</li>
              </a>
            </ul>
            <div class="album-actions">
              <a href="/">
                <button type="button">View</button>
              </a>
              <a href="/">
                <button type="button">Modify</button>
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
