* {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: #111112;
  color: #fff;

  margin: 0;
}

#root {
  max-width: 1270px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #111112f0;
  backdrop-filter: blur(10px);

  border-bottom: 1px solid #ffffff25;
  margin-bottom: 30px;
  padding: 0 15px;

  position: sticky;
  top: 0;

  z-index: 10;

  height: 60px;
}

header:not(:has(.add-album)),
header:not(:has(.add-genre)),
header:not(:has(.add-artist)) {
  justify-content: flex-start;
}

h1 {
  font-size: 1.5em;

  margin: auto;
}

.add-album,
.add-genre,
.add-artist {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 8px;
  border: 1px solid #ffffff25;
  border-radius: 8px;

  background-color: #24c360;

  width: 35px;
  height: 35px;
}

.go-back {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #ffffff00;
  border-radius: 8px;

  background-color: #b8a1a1c4;

  width: 35px;
  height: 35px;
}

.add-album:hover,
.add-genre:hover,
.add-artist:hover {
  background-color: rgba(59, 190, 109, 0.8);

  cursor: pointer;
}

.go-back:hover {
  background-color: rgba(184, 161, 161, 0.6);

  cursor: pointer;
}

.add-album:active,
.add-genre:active,
.add-artist:active {
  background-color: rgba(59, 190, 109, 0.6);
}

.go-back:active {
  background-color: rgba(184, 161, 161, 0.4);
}

main {
  display: flex;
  flex-direction: column;
  place-items: center;

  gap: 25px;

  padding-bottom: 50px;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 25px;

  width: 100%;
}

.categories > a {
  margin: 0 20px;
}

.categories > a > button {
  width: 100%;

  background-color: #24c360;
  border: 1px solid #ffffff25;
  border-radius: 5px;

  padding: 15px;

  font-size: 1.4em;
}

.categories > a > button:hover {
  background-color: rgba(59, 190, 109, 0.8);

  cursor: pointer;
}

.categories > a > button:active {
  background-color: rgba(59, 190, 109, 0.6);
}

.album,
.artist,
.genre {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px;
  border-radius: 15px;

  max-width: 200px;

  background-color: #18181c;
}

.album-cover-wrapper,
.artist-pic-wrapper {
  width: 200px;
  height: 100%;
}

.album-cover,
.artist-pic {
  width: 100%;
  height: 200px;
  object-fit: cover;

  border-radius: 15px;
}

.album-title {
  margin-top: 10px;

  font-size: 1.1em;
}

.genre-name {
  margin-top: 0px;

  font-size: 1.2em;
}

.artists {
  list-style-type: none;

  padding-left: 0;
  margin-top: -17px;

  width: min-content;
  min-width: 120px;
}

.artists > a {
  color: #24c360;

  text-decoration: none;
}

.artists > a:hover {
  color: #6bc78e;
}

.album-actions,
.artist-actions {
  display: flex;
  justify-content: space-between;
}

.genre-actions {
  display: flex;

  gap: 20px;
}

.album-actions > a > button,
.artist-actions > a > button,
.genre-actions > a > button,
button[type="submit"] {
  width: 90px;

  padding: 5px 0px;

  background-color: #24c360;
  border: 1px solid #ffffff25;
  border-radius: 5px;

  font-size: 0.95em;
}

.album-actions > a > button:hover,
.artist-actions > a > button:hover,
.genre-actions > a > button:hover,
button[type="submit"]:hover {
  background-color: rgba(59, 190, 109, 0.8);

  cursor: pointer;
}

.album-actions > a > button:active,
.artist-actions > a > button:active,
.genre-actions > a > button:active,
button[type="submit"]:active {
  background-color: rgba(59, 190, 109, 0.6);
}

form {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

h2 {
  align-self: flex-start;

  margin-bottom: -5px;
  margin-top: 0;
}

.form-row {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

button[type="submit"] {
  margin-top: 5px;
}

input,
textarea {
  background-color: #000;

  caret-color: #fff;

  color: #fff;

  border: none;
  border-radius: 8px;
  padding: 8px 10px;
}

textarea {
  resize: none;
}

.errors {
  max-width: 200px;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 10px;

  list-style-type: none;

  color: red;
}
